In [11]:
import pandas as pd
import numpy as np
import xgboost as xgb
from xgboost.sklearn import XGBClassifier
from sklearn import metrics   #Additional     scklearn functions
from sklearn.model_selection import GridSearchCV   #Perforing grid search
from sklearn.ensemble import RandomForestClassifier,AdaBoostClassifier
from sklearn.linear_model import Perceptron, LogisticRegression
from sklearn.model_selection import cross_val_score
import matplotlib.pylab as plt
%matplotlib inline
from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 12, 4
 
train = pd.read_csv('df_training.csv')
#train.dropna()
target = 'TARGET'
IDcol = 'ID'

train.User_area.fillna('Taipei',inplace=True)
train.gender.fillna('Male',inplace=True)
train=pd.get_dummies(train)

predictors = [x for x in train.columns if x not in [target,IDcol]]

import warnings
warnings.filterwarnings('ignore')

In [12]:
train.TARGET.value_counts()

0    4777
1    1223
Name: TARGET, dtype: int64

In [13]:
X = train[predictors]
y = train.ID

In [16]:
#分类
from sklearn.neural_network import BernoulliRBM,MLPClassifier

clf = BernoulliRBM()
clf.fit(X, y)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [8]:
test_data = pd.read_csv('df_test.csv')
test_data_id = test_data.ID
#test_data.drop('ID',axis=1,inplace=True)
test_data.drop('TARGET',axis=1,inplace=True)
test_data = pd.get_dummies(test_data)
test_data.head()

,ID,Product_using_score,age,Cumulative_using_time,Point_balance,Product_service_usage,Pay_a_monthly_fee_by_credit_card,Active_user,Estimated_salary,User_area_Taichung,User_area_Tainan,User_area_Taipei,gender_Female,gender_Male
0,9222,655.0,37.0,4.0,108862.76,NaN,1.0,0.0,79555.08,1,0,0,1,0
1,3931,NaN,52.0,9.0,111973.97,1.0,NaN,1.0,NaN,1,0,0,0,0
2,1242,519.0,21.0,1.0,146329.57,2.0,1.0,1.0,194867.27,0,0,1,0,0
3,3639,NaN,NaN,NaN,0.00,2.0,0.0,0.0,96398.51,0,1,0,0,1
4,7951,NaN,33.0,10.0,138847.90,NaN,1.0,NaN,127256.70,0,0,0,1,0

In [110]:
rs = bagging_clf.predict(test_data)

In [113]:
train.TARGET.values.sum()/6000

0.20383333333333334

In [114]:
rs.sum()/2000

0.205

In [115]:
df = pd.DataFrame()

In [116]:
df['ID'] = test_data_id

In [117]:
df['Predicted_Results'] = np.array(rs)

In [118]:
df.to_csv('result.csv',index=False)